
[submodule "urdf_rviz_joint"]
	path = urdf_rviz_joint
	url = https://github.com/kvkcon/urdf_rviz_joint.git
	branch = main

[submodule "PHC_x1"]
	path = PHC_x1
	url = https://github.com/kvkcon/PHC_x1.git
	branch = dev-x1-25dof

[submodule "human2humanoid"]
	path = human2humanoid
	url = https://github.com/kvkcon/human2humanoid.git
	branch = main
